.navbar{
    background-color: brown;
}
.navbar-brand{
    font-weight: bolder;
    font-size: xx-large;
}
li{
    margin-left: 15px;
    font-weight: bolder;
}
a{
    padding: 5px 0px 5px 0px !important;
    margin: 0 !important;
    font-size: 10px;
}
i{
    color: white;
}
.btn{
    background: transparent !important;
    border: solid 1px white;
}
h1{
    font-weight: bolder;
    margin-top: 30px;
}
figure img{
    margin-bottom: 10px;
}
p{
    margin-top: 70px;
    text-align: justify;
}
.form-control{
    width: 100px !important;
}
.img{
    text-align: center;
}
.g11 .bb{
    font-weight: bolder;
}
.g11 .bla{
    font-size: 12px;
}
.foto{
    height: 400px;
    object-fit: cover;
}
.desc{
    font-size: 12px;
}
.btt{
    width: 350px;
    margin-bottom: 60px;
    display: inline-block;
    background: brown;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid brown !important;
    transition: all 0.5s ease;
    text-align: center;
    align-items: center;
}
.btt:hover{
    color: brown;
    background: none;
}
.mx{
    text-align: center;
    margin-top: 150px;
}